<template>
    <v-layout row justify-center mt-3>
        <v-flex md8>
            <v-card>
                <v-card-title primary-title>
                    <v-layout row wrap>
                        <v-flex md12 mb-4>
                            <h3 class="title mb-3">New organisation</h3>
                            <v-divider></v-divider>
                        </v-flex>
                        <v-flex md12>
                            <v-form ref="form">
                                <v-text-field
                                        v-model="name"
                                        label="Name"
                                        name="name"
                                        hint="It is only necessary for convenience in the search."
                                        persistent-hint
                                        outline
                                        :rules="[rules.required]"
                                ></v-text-field>
                                <div class="my-3"></div>
                                <v-text-field
                                        v-model="address"
                                        label="Location Address"
                                        name="address"
                                        hint="Ukraine, Kherson, Ushakova Street, 3"
                                        persistent-hint
                                        outline
                                        :rules="[rules.required]"
                                ></v-text-field>
                                <div class="my-3"></div>
                                <v-layout row>
                                    <v-flex md6 pr-2>
                                        <v-text-field
                                                v-model="url"
                                                name="url"
                                                label="Preferred url address"
                                                persistent-hint
                                                outline
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md2 px-2>
                                        <v-text-field
                                                v-model="icon"
                                                name="icon"
                                                label="Icon"
                                                persistent-hint
                                                outline
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md4 pl-2>
                                        <v-select
                                                v-model="category_id"
                                                :items="categories"
                                                item-text="name"
                                                item-value="id"
                                                name="category"
                                                label="Category"
                                                :rules="[rules.required]"
                                                outline
                                        >

                                        </v-select>
                                    </v-flex>
                                </v-layout>
                                <v-divider class="mb-3"></v-divider>
                                <v-layout row>
                                    <v-flex md12 class="px-2 working-hours">
                                        <v-flex md12 mb-3>
                                            <span class="subheading font-weight-bold">Working hours:</span>
                                        </v-flex>
                                        <v-layout row>
                                            <v-flex md2><span class="caption grey--text text--darken-1">Day of week</span></v-flex>
                                            <v-flex md2><span class="caption grey--text text--darken-1">Open at</span></v-flex>
                                            <v-flex md2 offset-md1><span class="caption grey--text text--darken-1">Close at</span></v-flex>
                                            <v-flex md2 offset-md1><span class="caption grey--text text--darken-1">All day</span></v-flex>
                                            <v-flex md2><span class="caption grey--text text--darken-1">Closed</span></v-flex>
                                        </v-layout>
                                        <template v-for="(day, index) in week">
                                            <v-layout row :key="index">
                                                <v-flex md2><span class="body-2 font-weight-medium">{{ day.name }}</span></v-flex>
                                                <v-flex md2>
                                                    <v-select
                                                            :items="hours"
                                                            class="pt-0"
                                                            :hide-details="true"
                                                            v-model="day.open_at"
                                                    ></v-select>
                                                </v-flex>
                                                <v-flex md2 offset-md1>
                                                    <v-select
                                                            :items="hours"
                                                            class="pt-0"
                                                            :hide-details="true"
                                                            v-model="day.close_at"
                                                    ></v-select>
                                                </v-flex>
                                                <v-flex md2 offset-md1>
                                                    <v-checkbox
                                                            v-model="day.all_day"
                                                            class="mt-2 pt-0"
                                                    ></v-checkbox>
                                                </v-flex>
                                                <v-flex md2>
                                                    <v-checkbox
                                                            v-model="day.closed"
                                                            class="mt-2 pt-0"
                                                    ></v-checkbox>
                                                </v-flex>
                                            </v-layout>
                                        </template>
                                        <v-divider class="mt-3 mb-4"></v-divider>
                                        <v-flex md12 my-3 text-md-right>
                                            <v-btn @click="create()">Create</v-btn>
                                        </v-flex>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-flex>
                    </v-layout>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: "Create",
        data: () => ({
            name: '',
            address: '',
            url: '',
            icon: '',
            category_id: null,
            week: [
                { name: 'Monday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 1 },
                { name: 'Tuesday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 2 },
                { name: 'Wednesday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 3 },
                { name: 'Thursday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 4 },
                { name: 'Friday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 5 },
                { name: 'Saturday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 6 },
                { name: 'Sunday', open_at: null, close_at: null, all_day: false, closed: false, day_of_week: 7 }
            ],
            rules: {
                required: value => !!value || 'Required.'
            }
        }),
        mounted() {
            if(!this.categories.length){
                this.$store.dispatch('GET_ORGANISATION_CATEGORIES');
            }
        },
        computed: {
            ...mapGetters({
                categories: 'getOrganisationCategories',
            }),
            hours: () => {
                let h = [];
                for(let i=0; i<24; i++) {
                    for(let j=0; j<4; j++) {
                        h.push(i + ":" + (j===0 ? "00" : 15*j) );
                    }
                }
                return h;
            },
            form () {
                return {
                    organisation: {
                        name: this.name,
                        address: this.address,
                        url: this.url,
                        icon: this.icon,
                        category_id: this.category_id
                    },
                    week: this.week
                }
            }
        },
        methods: {
            create() {
                this.$store.dispatch('CREATE_ORGANISATION', this.form).then(() => {
                    this.reset()
                });
            },
            reset () {
                this.week.forEach(function(item){
                    item.open_at = null
                    item.close_at = null
                    item.all_day = null
                    item.closed = null
                });
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>

</style>