<template>
    <create-organisation></create-organisation>
</template>

<script>

import CreateOrganisation from '@/components/organisation/Create.vue'

export default {
    name: "CreateOrganisation",
    components: {
        'create-organisation': CreateOrganisation
    }
}
</script>

<style scoped>

</style>