@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#app {
    font-family: 'Roboto Condensed', sans-serif;
}

.fill-width {
    width: 100%;
}

.working-hours .body-2 {
    line-height: 40px;
}

.working-hours span {
    cursor: default;
}

.main-sidebar .v-list__tile--active {
    color: #fff!important;
    font-weight: 600!important;
    background: #0D47A1;
}

.device-preview {
    width: 100%;
}