<template>
    <device-registration></device-registration>
</template>

<script>

import DeviceRegistration from '@/components/devices/DeviceRegistration.vue'

export default {
    name: "DeviceRegistration",
    components: {
        'device-registration': DeviceRegistration
    }
}
</script>

<style scoped>

</style>