<template>
    <dashboard></dashboard>
</template>

<script>
import Dashboard from '@/components/Dashboard.vue'

export default {
    name: 'home',
    components: {
        dashboard: Dashboard
    }
}
</script>
