<template>
    <login class="mt-5"></login>
</template>

<script>

import Login from '@/components/Login.vue'

export default {
    name: "Login",
    components: {
        'login': Login
    }
}
</script>

<style scoped>

</style>