<template>
    <registration class="mt-5"></registration>
</template>

<script>

import Registration from '@/components/Registration.vue'

export default {
    name: "Registration",
    components: {
        'registration': Registration
    }
}
</script>

<style scoped>

</style>