<template>
    <v-layout row justify-center>
        <v-flex md8>
            <v-layout row wrap>
                <v-flex md10>
                    <h2 class="title mb-5 mt-4">Your organisations:</h2>
                </v-flex>
                <v-flex md2 text-md-right mt-3>
                    <v-btn @click="goTo('organisation-add')" fab outline small dark color="indigo">
                        <v-icon dark>add</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-list two-line subheader>
                <v-subheader>View all</v-subheader>
                <template v-for="(organisation, index) in organisations">
                    <v-list-tile avatar @click="" :key="index">
                        <v-list-tile-avatar>
                            <v-icon>{{ organisation.icon }}</v-icon>
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ organisation.name }}</v-list-tile-title>
                            <v-list-tile-sub-title>{{ organisation.url }}</v-list-tile-sub-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-tooltip bottom>
                                <v-btn icon ripple slot="activator">
                                    <v-icon color="grey lighten-1">info</v-icon>
                                </v-btn>
                                    <span>
                                        <v-layout row wrap>
                                            <v-flex md6><span class="font-weight-bold">Address:</span></v-flex>
                                            <v-flex md6>{{ organisation.address }}</v-flex>
                                            <v-flex md6><span class="font-weight-bold">Created at:</span></v-flex>
                                            <v-flex md6>{{ organisation.created_at | moment("dddd, MMMM Do YYYY") }}</v-flex>
                                            <v-flex md6><span class="font-weight-bold">Updated at:</span></v-flex>
                                            <v-flex md6>{{ organisation.updated_at | moment("dddd, MMMM Do YYYY") }}</v-flex>
                                        </v-layout>
                                    </span>
                            </v-tooltip>
                        </v-list-tile-action>
                    </v-list-tile>
                </template>
            </v-list>
            <v-divider></v-divider>
        </v-flex>
    </v-layout>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Dashboard',
    data: () => ({

    }),
    methods: {
        goTo(route) {
            this.$router.push({ name: route })
        }
    },
    computed: {
        ...mapGetters({
            organisations: 'getOrganisations'
        })
    }
}
</script>

<style scoped>

</style>
