<template>
    <div></div>
</template>

<script>
    export default {
        name: "Logout",
        created () {
            this.$store.dispatch('DESTROY_TOKEN').then(() => {
                this.$router.push({ name: 'login' })
            })
        }
    }
</script>
