<template>
    <v-layout row wrap justify-center>
        <v-flex xs12 sm4>
            <form action="#" ref="form" @submit.prevent="registration">
                <v-card>
                    <v-card-title primary-title>
                        <div class="fill-width">
                            <div class="headline">Registration</div>
                            <div class="mb-4"></div>
                            <v-text-field
                                    v-model="name"
                                    :rules="[rules.required]"
                                    label="Name/Surname"
                            ></v-text-field>
                            <div class="mb-2"></div>
                            <v-text-field
                                    v-model="email"
                                    :rules="[rules.required]"
                                    label="Email"
                            ></v-text-field>
                            <div class="mb-2"></div>
                            <v-text-field
                                    v-model="password"
                                    :rules="[rules.required, rules.min]"
                                    label="Password"
                            ></v-text-field>
                            <v-text-field
                                    v-model="password_confirmation"
                                    :rules="[rules.required, rules.min]"
                                    label="Password"
                            ></v-text-field>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn type="submit">
                            Registration
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </form>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Registration",
        data: () => ({
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters'
            }
        }),
        computed: {
            form () {
                return {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }
            }
        },
        methods: {
            registration () {
                this.$store.dispatch('REGISTRATION', this.form).then(() => {
                    this.$router.push({ name: 'login' })
                });
            },
            reset () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>

</style>