<template>
    <v-layout row wrap justify-center mt-3>
        <v-flex md8>
            <v-card>
                <v-form v-model="valid" ref="form">
                    <v-card-title primary-title>
                        <v-layout row wrap>
                            <v-flex md12 mb-4>
                                <h3 class="title mb-3">Register new device</h3>
                                <v-divider></v-divider>
                            </v-flex>
                            <v-flex md4 pr-2>
                                <p class="subheading">Type of device:</p>
                                <template v-if="device_types.length">
                                    <v-select
                                            v-model="device_type_id"
                                            :items="device_types"
                                            item-text="name"
                                            item-value="id"
                                            label="Choose"
                                            single-line
                                            :rules="[rules.required]"
                                            outline
                                    >
                                    </v-select>
                                    <v-flex md6>
                                        <v-img v-if="device_type_id" :src="`/img/devices/${getDeviceName()}.svg`" aspect-ratio="1" class="device-preview"></v-img>
                                    </v-flex>
                                </template>
                                <template v-else>
                                    loading... <!-- TODO: add preloader -->
                                </template>
                            </v-flex>
                            <v-flex md8 pl-2>
                                <p class="subheading">Device specifications:</p>
                                <v-text-field
                                        v-model="diagonal"
                                        label="Screen diagonal (Inches)"
                                        placeholder="Example: 43"
                                        :rules="[rules.required]"
                                ></v-text-field>
                                <v-text-field
                                        v-model="resolution"
                                        label="Screen resolution (optional)"
                                        placeholder="Example: 1920x1080"
                                ></v-text-field>
                                <v-select
                                        v-model="organisation_id"
                                        :items="organisations"
                                        item-text="name"
                                        item-value="id"
                                        label="Choose organisation"
                                        single-line
                                        :rules="[rules.required]"
                                ></v-select>
                                <v-textarea
                                        v-model="description"
                                        name="input-7-4"
                                        label="Device description"
                                        box
                                ></v-textarea>
                            </v-flex>
                            <v-flex md12 my-3 text-md-right>
                                <v-btn v-if="valid" @click="register()">Register and continue</v-btn>
                                <v-btn v-if="valid" @click="register(true)">Register</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card-title>
                </v-form>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: "DeviceRegistration",
    data: () => ({
        rules: {
            required: value => !!value || 'Required.'
        },
        diagonal: null,
        resolution: '',
        description: '',
        device_type_id: null,
        organisation_id: '',
        valid: null
    }),
    computed: {
        ...mapGetters({
            device_types: 'getDeviceTypes',
            organisations: 'getOrganisations'
        }),
        form() {
            return {
                diagonal: this.diagonal,
                resolution: this.resolution,
                description: this.description,
                device_type_id: this.device_type_id,
                organisation_id: this.organisation_id
            }
        }
    },
    mounted() {
        this.$store.dispatch('GET_DEVICE_TYPES');
    },
    methods: {
        getDeviceName() {
            if(this.device_type_id) return this.device_types[this.device_type_id-1].name.toLowerCase()
        },
        register(redirect = false) {
            this.$store.dispatch('CREATE_DEVICE', this.form).then((r) => {
                if(redirect){
                    this.$router.push('/')
                }
                this.reset()
            });
        },
        reset () {
            this.$refs.form.reset()
        }
    }
}
</script>

<style scoped>

</style>