<template>
    <v-app id="app">
        <template v-if="loggedIn">
            <v-navigation-drawer
              fixed
              :mini-variant.sync="mini"
              class="indigo dark elevation-6 main-sidebar"
              dark
              app
            >
                <v-toolbar flat class="transparent">
                    <v-list class="pa-0">
                        <v-list-tile avatar>
                            <v-list-tile-avatar>
                                <img src="https://randomuser.me/api/portraits/men/85.jpg">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title>{{ user.name }}</v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn icon @click.stop="mini = !mini">
                                    <v-icon>chevron_left</v-icon>
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-list dense>
                    <template v-for="(route, index) in routes">
                        <v-list-tile :to="route.url" :key="index">
                            <v-list-tile-action>
                                <v-icon>{{ route.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ route.name }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar color="indigo" dark fixed app>
                <v-toolbar-title>Calendar</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat :to="{ name: 'logout' }">
                    Logout
                </v-btn>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-height>
                    <router-view/>
                </v-container>
            </v-content>
        </template>
        <template v-else>
            <v-toolbar color="indigo" dark fixed app>
                <v-toolbar-title>Calendar</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn outline :to="{ name: 'login' }">Login</v-btn>
                <v-btn outline :to="{ name: 'registration' }">Registration</v-btn>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-height>
                    <router-view/>
                </v-container>
            </v-content>
        </template>
    </v-app>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data () {
        return {
            routes: [
                {
                    name: 'Home',
                    url: '/',
                    icon: 'home'
                },
                {
                    name: 'About',
                    url: '/about',
                    icon: 'info'
                },
                {
                    name: 'New organisation',
                    url: '/organisation/add',
                    icon: 'assignment'
                },
                {
                    name: 'Register new device',
                    url: '/device/add',
                    icon: 'devices'
                }
            ],
            mini: false,
        }
    },
    mounted() {
        this.$store.dispatch('USER_REQUEST').catch(() => {
            this.$router.push({ name: 'login' })
        })
    },
    computed: {
        ...mapGetters({
            user: 'getUser'
        }),
        loggedIn () {
            return this.$store.getters.isAuthenticated
        }
    }
}
</script>

<style>

</style>
